* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: #000;
}

a {
  text-decoration: none;
}

.div-logo {
  margin-left: auto;
}
.div-logo .logo {
  margin: 10px;
}

/* Move top */
.move-top {
  position: fixed;
  z-index: 1000;
  right: 30px;
  bottom: 30px;
}

/* menu */
#btn-menu {
  display: none;
  position: absolute;
  right: 15%;
}
#btn-menu .btn-menu-tab {
  border-radius: 3px;
  border: none;
  width: 110px;
  height: 30px;
  margin-top: 20px;
}

#menu {
  display: block;
}

/* Nav */
.nav-menu-content {
  margin-top: 20px;
  margin-right: auto;
}
.nav-menu-content .nav-menu {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.nav-menu-content .nav-menu li {
  position: relative;
  padding: 10px 20px;
  margin: 0 2px;
  cursor: pointer;
}
.nav-menu-content .nav-menu li a {
  font-weight: 700;
  font-size: 20px;
  z-index: 1;
}
.nav-menu-content .nav-menu li .nav-item {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  left: -50%;
  transform: translate(50%);
  transition: 0.3s;
}
.nav-menu-content .nav-menu li:hover a {
  color: #fff;
}
.nav-menu-content .nav-menu li:hover .nav-item {
  height: 100%;
  border-radius: 15px 15px 0 0;
}

/* Menu mobile */
#navi-mobile {
  display: none;
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  color: #fff;
  right: 10%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 45px;
  font-size: 60px;
  color: white;
}
.overlay .overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay .overlay-content a {
  padding: 8px;
  font-size: 30px;
  display: block;
  transition: 0.3s;
}

/* Color nav */
.nav-home .nav-item {
  background-color: #03a9f4;
}
.nav-home a {
  color: #03a9f4;
}

.nav-data .nav-item {
  background-color: #ffaa00;
}
.nav-data a {
  color: #ffaa00;
}

.nav-movie .nav-item {
  background-color: #7fe5f0;
}
.nav-movie a {
  color: #7fe5f0;
}

.nav-game .nav-item {
  background-color: #ff668f;
}
.nav-game a {
  color: #ff668f;
}

.nav-shop .nav-item {
  background-color: #4caf50;
}
.nav-shop a {
  color: #4caf50;
}

.nav-news .nav-item {
  background-color: #ED3B15;
}
.nav-news a {
  color: #ED3B15;
}

/* SLIDE */
.slide-show {
  background-color: #BCC1BB;
}
.slide-show .carousel img {
  height: 650px;
}

/* MAIN */
main {
  background-color: #000;
}

/* Title and logo */
.title-logo {
  padding-top: 50px;
  padding-bottom: 20px;
}
.title-logo img {
  width: 6%;
}
.title-logo h2 {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 40px;
}

/* Pokedex */
.back-card {
  position: relative;
  margin: auto;
  width: 100%;
}

.card-item-data {
  position: absolute;
  top: 8%;
  opacity: 0.5;
}
.card-item-data img {
  width: 30%;
  margin-left: 40px;
}
.card-item-data .card-body {
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
}
.card-item-data .card-body .btn {
  width: 80px;
  padding: 5px;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
}
.card-item-data .card-body .one-item {
  margin-left: 65px;
}
.card-item-data .card-body .two-item {
  margin-left: 16px;
}

.slick-center .card-item-data {
  opacity: 1;
}
.slick-center .card-item-data img {
  transform: scale(1.5);
  transition: 1s;
}

/* Color type */
.btn-bug {
  background-color: #ab2;
}

.btn-dark {
  background-color: #754;
}

.btn-dragon {
  background-color: #76e;
}

.btn-electric {
  background-color: #fc3;
}

.btn-fairy {
  background-color: #e9e;
}

.btn-fighting {
  background-color: #c85500;
}

.btn-fire {
  background-color: #f42;
}

.btn-flying {
  background-color: #79bcd7;
}

.btn-ghost {
  background-color: #66b;
}

.btn-grass {
  background-color: #7c5;
}

.btn-ground {
  background-color: #db5;
}

.btn-ice {
  background-color: #6cf;
}

.btn-normal {
  background-color: #aa9;
}

.btn-poison {
  background-color: #a59;
}

.btn-psychic {
  background-color: #f59;
}

.btn-rock {
  background-color: #ba6;
}

.btn-steel {
  background-color: #aab;
}

.btn-water {
  background-color: #39f;
}

/* Pokemovie */
.movie {
  color: #fff;
}
.movie img {
  width: 70%;
  margin: auto;
}
.movie p {
  text-align: center;
  margin: auto;
  margin-top: 5px;
}
.movie p:last-child {
  font-size: 14px;
}

/* Pokegame */
.game img, .shop img {
  width: 100%;
}
.game p, .shop p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

/* Pokeshop */
.shop img {
  border-radius: 30px;
}
.shop .img-hid-1 {
  display: none;
}
.shop .img-pos:hover .img-hid-1 {
  display: block;
}
.shop .img-pos:hover .img-hid-2 {
  display: none;
}

/*# sourceMappingURL=index.css.map */
