@media screen and (min-width: 767px) and (max-width: 992px) {
  .logo {
    margin: 8px;
    width: 80%;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .logo {
    margin: 8px;
    width: 60%;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  .logo {
    margin: 10px;
    margin-left: 90px;
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    margin: 8px;
    margin-left: 50px;
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #btn-menu {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  #btn-menu {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  #btn-menu .btn-menu-tab {
    margin-top: 15px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  #menu {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  #menu {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #navi-mobile {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav-menu-content {
    margin-top: 40px;
    margin-left: -40px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  .nav-menu-content {
    margin-top: 40px;
    margin-left: -100px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .nav-menu-content .nav-menu {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  .nav-menu-content .nav-menu {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-menu-content .nav-menu li {
    padding: 5px 10px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .nav-menu-content .nav-menu li {
    padding: 5px 5px;
  }
}
.nav-menu-content .nav-menu li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  z-index: 1;
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .nav-menu-content .nav-menu li a {
    font-size: 15px;
  }
}
.nav-menu-content .nav-menu li .nav-item {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  left: -50%;
  transform: translate(50%);
  transition: 0.3s;
}
.nav-menu-content .nav-menu li:hover a {
  color: #fff;
}
.nav-menu-content .nav-menu li:hover .nav-item {
  height: 100%;
  border-radius: 15px 15px 0 0;
}
.nav-menu-content .nav-menu .nav-home .nav-item {
  background-color: #03a9f4;
}
.nav-menu-content .nav-menu .nav-home a {
  color: #03a9f4;
}
.nav-menu-content .nav-menu .nav-data .nav-item {
  background-color: #ffaa00;
}
.nav-menu-content .nav-menu .nav-data a {
  color: #ffaa00;
}
.nav-menu-content .nav-menu .nav-movie .nav-item {
  background-color: #7fe5f0;
}
.nav-menu-content .nav-menu .nav-movie a {
  color: #7fe5f0;
}
.nav-menu-content .nav-menu .nav-game .nav-item {
  background-color: #ff668f;
}
.nav-menu-content .nav-menu .nav-game a {
  color: #ff668f;
}
.nav-menu-content .nav-menu .nav-shop .nav-item {
  background-color: #4caf50;
}
.nav-menu-content .nav-menu .nav-shop a {
  color: #4caf50;
}
.nav-menu-content .nav-menu .nav-news .nav-item {
  background-color: #ED3B15;
}
.nav-menu-content .nav-menu .nav-news a {
  color: #ED3B15;
}

/*# sourceMappingURL=responsive.css.map */
