$white: #fff;
$black: #000;
$grey: #BCC1BB;

$home: #03a9f4;
$data: #ffaa00;
$movie: #7fe5f0;
$game: #ff668f;
$shop: #4caf50;
$news: #ED3B15;
$name-pages: home data movie game shop news;
$pages: $home, $data, $movie, $game, $shop, $news;

$bug: #ab2;
$dark: #754;
$dragon: #76e;
$electric: #fc3;
$fairy: #e9e;
$fighting: #c85500;
$fire: #f42;
$flying:#79bcd7;
$ghost: #66b;
$grass: #7c5;
$ground: #db5;
$ice: #6cf;
$normal: #aa9;
$poison: #a59;
$psychic: #f59;
$rock: #ba6;
$steel: #aab;
$water: #39f;
$name-types: bug dark dragon electric fairy fighting fire flying ghost grass ground ice normal poison psychic rock steel water;
$types: $bug, $dark, $dragon, $electric, $fairy, $fighting, $fire, $flying, $ghost, $grass, $ground, $ice, $normal, $poison, $psychic, $rock, $steel, $water;

$excellent: #00c2b8;
$good: #23cd5e;
$medium: #a0e515;
$weak: #ffdd57;
$least: #ff7f0f;
$name-index: 60 80 100 120 150;
$indexs: $least $weak $medium $good $excellent;