/* HEADER */
header {
    background-color: $black;
    position: fixed;
    z-index: 100;
    width: 100%;
}

a{
    text-decoration: none;
}

.div-logo {
    margin-left: auto;

    .logo {
        margin: 10px;
    }
}

/* Move top */
.move-top {
    position: fixed;
    z-index: 1000;
    right: 30px;
    bottom: 30px;
    img {
        width: 150%;
    }
}

/* menu */
#btn-menu {
    display: none;
    position: absolute;
    right: 15%;

    .btn-menu-tab {
        border-radius: 3px;
        border: none;
        width: 110px;
        height: 30px;
        margin-top: 20px;
    }
}

#menu {
    display: block;
}

/* Nav */
.nav-menu-content {
    margin-top: 20px;
    margin-right: auto;

    .nav-menu {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;

        li {
            position: relative;
            padding: 10px 20px;
            margin: 0 2px;
            cursor: pointer;

            a {
                font-weight: 700;
                font-size: 20px;
                z-index: 1;
            }

            .nav-item{
                position: absolute;
                bottom: 0;
                height: 10%;
                width: 100%;
                left: -50%;
                transform: translate(50%);
                transition: 0.3s;
            }

            &:hover {
                a{
                    color: $white;
                }
                .nav-item {
                    height: 100%;
                    border-radius: 15px 15px 0 0 ;
                }
            }
        }
    }
}

/* Menu mobile */
#navi-mobile {
    display: none;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    color: $white;
    left: 10%;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;

    .closebtn {
        position: absolute;
        top: 0px;
        right: 45px;
        font-size: 60px;
        color: white;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;

        a {
            padding: 8px;
            font-size: 30px;
            display: block;
            transition: 0.3s;
        }
    }
}

/* Color nav */
$i: 1;
@each $name in $name-pages {
    .nav-#{$name} {
        .nav-item {
            background-color: nth($pages, $i);
        }
        a {
            color: nth($pages, $i);
        }
    }
    $i: $i + 1;
}

/* SLIDE */
.slide-show {
    background-color: $grey;
    padding-top: 96px;
    .carousel {
        img {
            height: 650px;
        }
    }
}