/* MAIN */
main {
    background-color: $black;
    padding-top: 50px;
}

/* Title and logo */
.title-logo {
    img {
        width: 6%;
    }
    h2 {
        padding-top: 20px;
        padding-left: 10px;
        font-size: 40px;
    }
}

/* Pokedex */
.back-card {
    position: relative;
    margin: auto;
    width: 100%;
}

.card-item-data {
    position: absolute;
    top: 8%;
    opacity: .5;

    img {
        width: 30%;
        margin-left: 40px;
    }

    .card-body {
        color: $white;
        font-size: 16px;
        line-height: 1.8;

        .btn {
            width: 80px;
            padding: 5px;
            border: none;
            color: $white;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 600;
        }

        .one-item {    
            margin-left: 65px;
        }

        .two-item {
            margin-left: 16px;
        }
    }
}

.slick-center {
    .card-item-data{
        opacity: 1;

        img {
        transform: scale(1.5);
        transition: 1s;
    }
    }

    // img {
    //     transform: scale(1.5);
    //     transition: 1s;
    // }
}

/* Color type */
$i: 1;
@each $type in $name-types {
    .btn-#{$type} {
            background-color: nth($types, $i);
    }
    $i: $i + 1;
}