
h2 {
    color: $data;
    // padding: 100px 30px;
}

/* POKEDEX */
.pkdex {
    padding-top: 100px;

    .search-btn {
        margin: 30px 0;
        width: 50%;
        height: 40px;

        button {
            font-size: 16px;
        }
    }

    .tab-gen{
        position: sticky;
        top: 100px;
        float: left;
        width: 9%;
        margin-right: 50px;

        a {
            color: $white;
        }
        
        button {
            display: block;
            background-color: $black;
            color: $white;
            width: 100%;
            border: none;
            outline: none;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            font-size: 17px;
            border-radius: 50px;
    
            &:hover {
                background-color: $home;
                transform: scale(1.1);
            }
    
            &.active-dex {
                background-color: $water;
            }
        }
    }

    .tabcontent {
        border: none;
        display: none;
        padding-bottom: 180px;
    }
}

.tab-type{
    button {
        box-shadow: none;
        margin: 5px 2px;
        &:hover {
            transform: scale(1.5);
            color: $white;
        }
    }
}

.card-pkm {
    position: relative;
    padding-top: 10px;

    .card-item-data {
        position: absolute;
        top: 8%;
    
        img {
            width: 60%;
            margin-left: 50px;
            cursor: pointer;
        }
    
        .card-body {
            padding-top: 45px;
            color: $white;
            font-size: 16px;
            line-height: 1.6;

            span {
                p{
                    text-align: center;
                }
            }

            a{
                cursor: pointer;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}

/* MORE BUTTON */
#more-1, #more-2 {
    display: none;
}

#more-btn {
    display: block;
    border-radius: 30px;
    width: 150px;
    background-color: rgba($color: $black, $alpha: 0.1);
    color: $white;
    padding: 8px;
    font-size: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;

    &:hover span {
        padding-right: 20px;
    }

    span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: -70px;
            right: 70px;
            transition: 0.3s;
            font-size: 35px;
        }
    }

    &:hover span:after {
        opacity: 1;
        right: 70px;
    }

    .down_arrow{
        transform:rotate(90deg);
        display: block;
    }
}

.not-found {
    text-align: center;
    color: $fire;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

/* ATTACK DEX */

.panel {
    padding: 0 250px;
    display: none;
    color: $white;
    overflow: hidden;
    margin: auto;

    table {
        caption-side: top;
        margin: auto;
        caption {
            text-align: center;
            a {
                font-size: 20px;
                color: $black;
            }

            .btn {
                width: 120px;
            }
        }
    }
    .table-move {
        text-align: center;
        width: 100%;

        th {
            width: 65%;
            background-color: $shop;
            border: black 5px solid;
            padding: 5px;
        }

        td {
            background-color: #585858;
            border: black 5px solid;
        }
    }
}

#atk {
    padding: 100px 5px;

    button {
        box-shadow: none;
        margin: 2px 1px;
    }
}

#detail {
    .row > * {
        padding-left: 0;
        padding-right: 0;
    }

    h3 {
        margin-top: 100px;
    }

    .shiny-img {
        margin-top: 150px;
    }
    
    a{
        &:hover {
            color: $white;
        }
    }
    
    .tabs_div {
        color: black;
        .sui-tabs-item {
            background-color: $grey;
        }

        h4 {
            margin-top: 10px;
        }

        .title-type {
            text-align: center;

            a {
                margin: 2px;
            }
        }

        .evl {
            .mega-evl {
                transform: rotate(-15deg);
            }
            .giga-evl {
                transform: rotate(15deg);
            }
        }

        hr {
            border-style: dotted;
            width: 80%;
            margin-left: 75px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        span {
            font-weight: 600;
        }
    }
    
    .male {
        color: $flying;
    }
    
    .female {
        color: $fire;
    }
    
    .sui-tabs {
        border: none;
    }

    .tabs_div_img {
        margin-top: 20px;
        button {
            background-color: black;
            color: white;
            border: 1px solid;
        }
        .checked-form {
            border-bottom: none;
        }
    }
}

$i: 1;
@each $index in $name-index {
    .stats-#{$index} {
            background-color: nth($indexs, $i);
            height: 10px;
            margin-top: 5px;
            width: $index*100%/180;
            border-radius: 5px;
    }
    $i: $i + 1;
}